<p>Starting in 2008, the CSST Summer Research Institute has brought together scholars from a broad range of intellectual communities to network and mentor, and to develop research projects and proposals related to the interplay of social and technological
  systems that span individuals, groups, organizations, and societies. CSST2015 — held this summer in The Nature Place in Florissant, Colorado — continues the tradition of strengthening and expanding the diverse community.</p>

<p>Check out the report, photos, and final attendees list below.</p>

<hr />

<h4>The 2015 Summer Research Institute</h4>

<p>This year's event brought together graduate students, post-doctoral students, faculty, and other researchers from academic and for a week of activities to identify substantive ways that the theories, approaches, and tools within the larger community can
  advance their work with the design and study of sociotechnical systems. A total of 63 attendees were invited this year, from 33 universities and from Intel, Google, e-Democracy, and Booz Allen.</p>

<p>Sessions at this year's Summer Institute included workshop ideation, organized and informal networking sessions, and mentoring sessions from an intellectually-diverse group of experienced academic and industry colleagues (see [this list][2] of mentors
  and attendees). These sessions and the event in general are designed to develop skills and knowledge in early-career researchers, develop and maintain professional contacts, and identify and encourage opportunities for future workshops, advancing concepts,
  and spreading the word about sociotechnical systems scholarship.</p>

<h4>What did this year's attendees think of the event?</h4>

<blockquote>
  <p><em>CSST 2015 has been an absolutely wonderful experience. As a late-stage PhD candidate, I've found the conference to be exceptionally well organized around the goals of informing, educating, and developing me as a young sociotechnical researcher. The small, intimate setting is very well suited for growing and strengthening my social network of like-minded peers and mentors – and is one of the most rewarding and beneficial aspects of the summer institute experience.</em>
    <BR />
    <p><em>C.J. Hutto (Doctoral Student, Georgia Institute of Technology)</em></p>

    <p>Coming to CSST for the first time from a business school, I was extremely impressed by the caliber of scholars and research topics and also excited to see many shared interests and opportunities of interdisciplinary collaboration.</p>

    <p><em>Hani Safadi (Assistant Professor, Stevens Institute of Technology)</em></p>

    <p>This summer institute has been really helpful for me to think and position myself as a sociotechnical researcher. I got concrete feedback for my research and career. Specifically, I presented a mini version of my job talk and got very detailed feedback
      from the research spotlight session on how to better organize my slides and present my research work. On the other hand, I built good collaborations that led to research proposals and publications.</p>

    <p><em>Wanli Xing (Doctoral Student, University of Missouri)</em></p>
</blockquote>

<p>See you next year! To keep in touch and apply to participate in 2016, follow us on [Twitter][4] and join our [ Facebook group.][5]</p>

<h3>2015 CSST Summer Research Institute Attendee List.</h3>

<table>
  <thead>
    <tr>
      <th>Campers</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Karen Baker</td>
      <td>Doctoral Student</td>
      <td>University of Illinois, Urbana-Champaign</td>
    </tr>
    <tr>
      <td>Joe Bayer</td>
      <td>Doctoral Student</td>
      <td>University of Michigan</td>
    </tr>
    <tr>
      <td>Bridget Blodgett</td>
      <td>Assistant Professor</td>
      <td>University of Baltimore</td>
    </tr>
    <tr>
      <td>Erin Brady</td>
      <td>Doctoral Student</td>
      <td>University of Rochester</td>
    </tr>
    <tr>
      <td>Julia Bullard</td>
      <td>Doctoral Student</td>
      <td>University of Texas at Austin</td>
    </tr>
    <tr>
      <td>Laura Devendorf</td>
      <td>Doctoral Student</td>
      <td>University of California, Berkeley</td>
    </tr>
    <tr>
      <td>Tawanna Dillahunt</td>
      <td>Assistant Professor</td>
      <td>University of Michigan</td>
    </tr>
    <tr>
      <td>Andy Echenique</td>
      <td>Doctoral Student</td>
      <td>University of California, Irvine</td>
    </tr>
    <tr>
      <td>Greg Edeson</td>
      <td>Doctoral Student</td>
      <td>University of Tasmania</td>
    </tr>
    <tr>
      <td>Engida Gebre</td>
      <td>Postdoctoral Researcher</td>
      <td>University of Colorado, Boulder</td>
    </tr>
    <tr>
      <td>Colin Gray</td>
      <td>Postdoctoral Researcher</td>
      <td>Iowa State University</td>
    </tr>
    <tr>
      <td>Beka Gulotta</td>
      <td>Doctoral Student</td>
      <td>Carnegie Mellon University</td>
    </tr>
    <tr>
      <td>Keith Han</td>
      <td>Doctoral Student</td>
      <td>Pennsylvania State University</td>
    </tr>
    <tr>
      <td>Yun Huang</td>
      <td>Assistant Professor</td>
      <td>Syracuse University</td>
    </tr>
    <tr>
      <td>C.J. Hutto</td>
      <td>Doctoral Student</td>
      <td>Georgia Institute of Technology</td>
    </tr>
    <tr>
      <td>Nassim JafariNaimi</td>
      <td>Assistant Professor</td>
      <td>Georgia Institute of Technology</td>
    </tr>
    <tr>
      <td>Elizabeth Kaziunas</td>
      <td>Doctoral Student</td>
      <td>University of Michigan</td>
    </tr>
    <tr>
      <td>Tanya Kelley</td>
      <td>Doctoral Student</td>
      <td>Arizona State University</td>
    </tr>
    <tr>
      <td>Jinyoung Kim</td>
      <td>Doctoral Student</td>
      <td>University of Maryland</td>
    </tr>
    <tr>
      <td>Neha Kumar</td>
      <td>Postdoctoral Researcher</td>
      <td>University of Southern California</td>
    </tr>
    <tr>
      <td>Misa Maruyama</td>
      <td>Doctoral Student</td>
      <td>University of Hawaii</td>
    </tr>
    <tr>
      <td>Andrew Miller</td>
      <td>Postdoctoral Researcher</td>
      <td>University of Washington</td>
    </tr>
    <tr>
      <td>Gabriel Mugar</td>
      <td>Doctoral Student</td>
      <td>Syracuse University</td>
    </tr>
    <tr>
      <td>Mustafa Ozkaynak</td>
      <td>Assistant Professor</td>
      <td>University of Colorado, Anschutz</td>
    </tr>
    <tr>
      <td>Hani Safadi</td>
      <td>Assistant Professor</td>
      <td>Stevens Institute of Technology</td>
    </tr>
    <tr>
      <td>Anastasia Sergeeva</td>
      <td>Postdoctoral Researcher</td>
      <td>VU University Amsterdam</td>
    </tr>
    <tr>
      <td>Austin Toombs</td>
      <td>Doctoral Student</td>
      <td>Indiana University</td>
    </tr>
    <tr>
      <td>Nic Weber</td>
      <td>Doctoral Student</td>
      <td>University of Illinois, Urbana-Champaign</td>
    </tr>
    <tr>
      <td>Pawel Wozniak</td>
      <td>Doctoral Student</td>
      <td>Chalmers University of Technology</td>
    </tr>
    <tr>
      <td>Wanli Xing</td>
      <td>Doctoral Student</td>
      <td>University of Missouri</td>
    </tr>
    <tr>
      <td>Rayoung Yang</td>
      <td>Doctoral Student</td>
      <td>University of Michigan</td>
    </tr>
    <tr>
      <td>Zhan Zhang</td>
      <td>Doctoral Student</td>
      <td>Drexel University</td>
    </tr>
    <tr>
      <td>Jason Zietz</td>
      <td>Doctoral Student</td>
      <td>University of Colorado, Boulder</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Mentors</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ken Anderson</td>
      <td>Principal Researcher</td>
      <td>Intel</td>
    </tr>
    <tr>
      <td>Cecilia Aragon</td>
      <td>Associate Professor</td>
      <td>University of Washington</td>
    </tr>
    <tr>
      <td>Diane Bailey</td>
      <td>Associate Professor</td>
      <td>University of Texas at Austin</td>
    </tr>
    <tr>
      <td>Elizabeth Churchill</td>
      <td>Director, User Experience</td>
      <td>Google</td>
    </tr>
    <tr>
      <td>Dan Cosley</td>
      <td>Associate Professor</td>
      <td>Cornell University</td>
    </tr>
    <tr>
      <td>Cliff Lampe</td>
      <td>Associate Professor</td>
      <td>University of Michigan</td>
    </tr>
    <tr>
      <td>Wayne Lutters</td>
      <td>Associate Professor</td>
      <td>University of Maryland, Baltimore County</td>
    </tr>
    <tr>
      <td>Bonnie Nardi</td>
      <td>Professor</td>
      <td>University of California, Irvine</td>
    </tr>
    <tr>
      <td>Leysia Palen</td>
      <td>Associate Professor</td>
      <td>University of Colorado, Boulder</td>
    </tr>
    <tr>
      <td>Scott Robertson</td>
      <td>Professor</td>
      <td>University of Hawaii</td>
    </tr>
    <tr>
      <td>Steve Sawyer</td>
      <td>Professor</td>
      <td>Syracuse University</td>
    </tr>
    <tr>
      <td>Andrea Tapia</td>
      <td>Associate Professor</td>
      <td>Pennsylvania State University</td>
    </tr>
    <tr>
      <td>Mike Twidale</td>
      <td>Professor</td>
      <td>University of Illinois, Urbana-Champaign</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Infrastructure Team</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Warren Allen</td>
      <td>Assistant Professor</td>
      <td>Florida State University</td>
    </tr>
    <tr>
      <td>Josh Introne</td>
      <td>Assistant Professor</td>
      <td>Michigan State University</td>
    </tr>
    <tr>
      <td>Daniel Carter</td>
      <td>Doctoral Student</td>
      <td>University of Texas at Austin</td>
    </tr>
    <tr>
      <td>Kendall Koning</td>
      <td>Doctoral Student</td>
      <td>Michigan State University</td>
    </tr>
    <tr>
      <td>Jonathan Morgan</td>
      <td>Doctoral Student</td>
      <td>Michigan State University</td>
    </tr>
    <tr>
      <td>Liz Thiry</td>
      <td>Research Data Scientist/Instructor</td>
      <td>Booz Allen/Pennsylvania State University</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Catalyst Workshop</th>
      <th>(Online collective action)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amanda Hughes</td>
      <td>Hughes</td>
      <td>Utah State University</td>
    </tr>
    <tr>
      <td>Brian Keegan</td>
      <td>Research Associate</td>
      <td>Harvard University</td>
    </tr>
    <tr>
      <td>Alex Leavitt</td>
      <td>Doctoral Student</td>
      <td>University of Southern California</td>
    </tr>
    <tr>
      <td>Bryan Semaan</td>
      <td>Assistant Professor</td>
      <td>Syracuse University</td>
    </tr>
    <tr>
      <td>Kate Starbird</td>
      <td>Assistant Professor</td>
      <td>University of Washington</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Catalyst Workshop</th>
      <th>(Local information landscapes)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rosta Forzan</td>
      <td>Assistant Professor</td>
      <td>University of Pittsburgh</td>
    </tr>
    <tr>
      <td>Steven Clift</td>
      <td>Executive Director</td>
      <td>E-democracy</td>
    </tr>
    <tr>
      <td>Brian Butler</td>
      <td>Professor</td>
      <td>University of Maryland</td>
    </tr>
    <tr>
      <td>Claudia Lopez</td>
      <td>Doctoral Student</td>
      <td>University of Pittsburgh</td>
    </tr>
    <tr>
      <td>Myeong Lee</td>
      <td>Doctoral Student</td>
      <td>University of Maryland</td>
    </tr>
  </tbody>
</table>
